{{#d-modal-body class="select-tags" title=modal_title}}
  {{#each tag_groups_data.tag_groups as |tag_group|}}  
  <span class="custom-tag-group">
    <h4>{{tag_group.name}}</h4>
    {{!--
	    {{#if selected_group_names}}
		    {{#each selected_group_names as |group|}}
				{{tag_group.tag_names}}<br/>
		  	{{/each}}
	  	{{/if}}
  	--}}
  	{{custom_helper_to_render_tag_groups tag_group selected_group_names show_selected_tags=show_selected_tags}}
  	</span>
  {{/each}}
  <h4>Keywords</h4>
    {{mini-tag-chooser
      value=model.tags
      tabindex=4
      isDisabled=disableTagsChooser
      onChange=(action (mut model.tags))
      options=(hash
        categoryId=model.categoryId
        minimum=model.minimumRequiredTags
      )
    }}
  <br/>                  
  {{d-button class="btn" action=(action "SelectedGroupsTags" model.tags) label="curation_form.submit_button_label"}}
  {{d-button class="btn" action=(route-action "closeModal") label="curation_form.cancel_button_label" title="modal.close"}}
  
{{/d-modal-body}}
